/* 
Theme Name: Grand-XP child theme of storefront
Version: 1.0.23
Author: Adam Merrifield
Author URI: https://seydoggy.com
Template: storefront
*/
/* =========================================
   1. Global & Typography
   ========================================= */
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hentry .entry-content a,
.site-footer a {
    text-decoration: none;
}

.edit-link {
    display: none;
}

/* =========================================
   2. Layout & Structure
   ========================================= */
body.home #masthead {
    margin-bottom: 0;
}

.content-area,
.site-main,
.hentry {
    margin-bottom: 0;
}

.woocommerce-active .site-header .site-branding {
    width: 50%;
}

/* Storefront Sidebar Overrides */
.tax-product_cat.right-sidebar .content-area,
.single-product.right-sidebar .content-area,
.tax-product_cat.left-sidebar .content-area,
.single-product.left-sidebar .content-area {
    width: 100%;
    float: left;
    margin-right: 0;
}

/* =========================================
   3. Buttons & Forms
   ========================================= */
.hentry .entry-content .wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link,
input[type=button],
input[type=reset],
input[type=submit],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart,
.woocommerce-product-search .search-field {
    border-radius: 100px;
}

.storefront-sorting select {
    width: auto;
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, .125);
    border-radius: 100px;
    padding: 0.35em 0.75em;
    border: 0;
}

/* =========================================
   4. Custom Header CTA (Book Now)
   ========================================= */
.header-cta-wrapper {
    float: right;
    margin-top: 10px;
    margin-right: 0;
}

.header-book-now {
    background-color: #0693e3;
    color: #fff !important;
    padding: 12px 25px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
}

.header-book-now:hover {
    background-color: #007aca;
    color: #fff !important;
}

/* =========================================
   5. Media Queries (Mobile)
   ========================================= */
@media (max-width: 767px) {

    /* Mobile Menu Toggle */
    button.menu-toggle,
    button.menu-toggle:hover {
        border: none;
        padding-left: 0;
        position: absolute;
        top: 40px;
        height: auto;
        right: 2em;
    }

    button.menu-toggle::before,
    button.menu-toggle::after,
    button.menu-toggle span::before {
        left: -1.5em;
        top: 19px;
    }
}

@media (max-width: 768px) {

    /* Header CTA - Fixed Bottom Bar */
    .header-cta-wrapper {
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 !important;
        padding: 10px 15px;
        background-color: #42560c;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
        z-index: 99999;
        float: none;
        width: 100%;
    }

    .header-book-now {
        display: block !important;
        width: 100%;
        text-align: center;
        margin-top: 0;
        font-size: 16px;
    }

    /* Prevent footer overlap */
    body {
        padding-bottom: 70px;
    }
}